{
  "plugins":["json"],
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [0],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "react/no-did-mount-set-state": 0,
    "react/forbid-prop-types": ["any"],
    "import/no-dynamic-require": [0],
    "no-nested-ternary": 0,
    "react/no-array-index-key":[1],
    "no-undef": "warn",
    "class-methods-use-this":[1],
    "no-param-reassign": ["error", { "props": false }],
    "global-require": [0],
    "jsx-a11y/label-has-for": 0,
    "quotes": ["error", "single", {"allowTemplateLiterals": true}],
    "prefer-destructuring": 0,
    "no-useless-escape": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    }
  },
  "env": {
    "jest": true
  }

}
